@page "/surfsessions"
@inject HttpClient Http
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<h3>Surf Session Overview</h3>

<PageTitle>Surf Sessions</PageTitle>

<p>This component demonstrates showing data.</p>

@if (surfSessions == null || surfSessions.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Wind Degree</th>
                <th>Rating</th>
                <th>Wind Power</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var surfSession in surfSessions)
            {
                <tr>
                    <td>@surfSession.Start</td>
                    <td>@surfSession.WindDegree</td>
                    <td>@surfSession.Rating</td>
                    <td>@surfSession.WindPower</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<SurfSession> surfSessions;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        var result = await Http.GetFromJsonAsync<List<SurfSession>>("api/surfsessions");

        if (result is not null)
        {
            surfSessions = result;

        }

    }
}
